@import url('main.css');

.logo-wrapper-outer {
	height: calc(335px * var(--scale)) !important;
	width: var(--video-width) !important;
	flex-direction: row !important;
	z-index: 4;
	justify-content: space-between;
}

.logo-wrapper-inner {
	display: flex;
	justify-content: center;
	position: relative;
	width: 49.5%;
}

.logo-wrapper-inner .logo-wrapper {
	top: calc(133px * var(--scale));
	position: relative;
	padding: 0 calc(1rem * var(--scale));
	text-align: center;
	height: fit-content;
}

.logo > img {
	max-width: 100%;
	object-fit: contain;
}

.logo-wrapper-bg {
	background-color: #000;
	z-index: 0;
	position: absolute;
	width: 100%;
	height: calc((335px * var(--scale)));
	opacity: 0.11;
	background-blend-mode: luminosity;
	/* background-position: 0 -133px; */
	background-repeat: no-repeat;
}

/* BACKGROUNDS */
.main-background {
	background-color: #000000;
	z-index: -1;
}

.video-background {
	background-image: url("data:image/svg+xml,%3Csvg width='475' height='639' viewBox='0 0 475 639' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_14_315)'%3E%3Cpath d='M1037 0H-563V800H1037V0Z' fill='black'/%3E%3Cpath d='M237 100C-77.8508 100 -563 200 -563 200V800H1037V200C1037 200 551.851 100 237 100Z' fill='%23222222'/%3E%3Cpath d='M237 200C-85.0346 200 -563 400 -563 400V800H1037V400C1037 400 559.035 200 237 200Z' fill='%23444444'/%3E%3Cpath d='M237 300C-96.6641 300 -563 600 -563 600V800H1037V600C1037 600 570.664 300 237 300Z' fill='%23666666'/%3E%3Cpath d='M1037 800C1037 800 586.296 400 237 400C-112.296 400 -563 800 -563 800H1037Z' fill='%23888888'/%3E%3Cpath d='M717 800C717 800 458.052 500 237 500C15.9481 500 -243 800 -243 800H717Z' fill='%23AAAAAA'/%3E%3Cpath d='M-29.7 800H503.7C503.7 800 367.185 600 237 600C106.815 600 -29.7 800 -29.7 800Z' fill='%23CCCCCC'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_14_315'%3E%3Crect width='1600' height='800' fill='white' transform='translate(-563)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
	background-position: center calc(205px * var(--scale));
	background-repeat: no-repeat;
	background-size: cover;
	opacity: 0.11;
	justify-content: end;
	align-items: end;
	z-index: 0;
}

.date-wrapper {
	z-index: 7;
	align-items: center;
	justify-content: center;
	font-size: calc(0.875rem * var(--scale));
	font-weight: var(--fw-regular);
	text-align: center;
	top: calc(70px * var(--scale)) !important;
	height: calc(25px * var(--scale)) !important;
}

.date-wrapper .date-container-wrapper {
	align-items: center;
	z-index: -1;
}

.date-wrapper .date-container {
	opacity: 0.77 !important;
}

.score {
	height: var(--score-height);
}

.clock {
	display: flex;
	padding: calc(0.5rem * var(--scale));
	justify-content: space-between;
	height: var(--score-height) !important;
	/*  */
	font-size: calc(0.875rem * var(--scale));
	text-align: center;
	z-index: 6;
}

.quarter {
	font-weight: var(--fw-medium);
	line-height: 1.5em;
}

.scoreboard-ui {
	justify-content: center;
	flex-direction: row !important;
	z-index: 3;
}

.winning-team-color-overlay {
	height: 124px;
	transition: background-color 0.5s ease-in-out;
	top: 100% !important;
	left: center !important;
	filter: blur(200px);
	mix-blend-mode: color;
	z-index: 1;
}

.stats {
	font-size: calc(1rem * var(--scale));
	text-align: center;
	z-index: 6;
	top: 928px !important;
	flex-direction: row !important;
}

.player-points {
	width: 50%;
}

.player-points > [class^='players-'] {
	display: flex;
	margin: calc(1rem * var(--scale));
}

.player-points > .players-away {
	flex-direction: row;
	justify-content: end;
	text-align: right;
}

.player-points > .players-home {
	flex-direction: row-reverse;
	justify-content: start;
	text-align: left;
}

.player-points > [class^='players-'] > div {
	padding: calc(0.5rem * var(--scale));
}

.player-points > [class^='players-'] > .points {
	font-size: calc(0.875rem * var(--scale));
	font-weight: var(--fw-medium);
	text-align: center;
	min-width: calc(30px * var(--scale));
}

.player-points > [class^='players-'] > .names {
	padding: calc(0.5rem * var(--scale)) calc(16px * var(--scale));
	align-content: center;
	font-size: calc(1rem * var(--scale));
	font-weight: var(--fw-regular);
}

.player-points > .players-away > .names {
	padding-left: 0;
}

.player-points > .players-home > .names {
	padding-right: 0;
}

.logo-wrapper-shadow {
	display: flex;
	z-index: 7;
	width: 100%;
}

.logo-wrapper-shadow-left {
	background-color: beige;
}

.text-watermark {
	z-index: 3;
	opacity: 0.02;
	/* overflow-x: hidden; */
	display: flex;
	flex-direction: row !important;
	justify-content: center;
	top: 977px !important;
}

.text-watermark > div {
	color: #fff;
	font-size: calc(3.777rem * var(--scale));
	font-weight: var(--fw-black);
	text-transform: uppercase;
	font-style: italic;
	line-height: 0;
	margin-right: calc(1.5rem * var(--scale)) !important;
}

/* FOOTER */

.logo-hoops-wrapper {
	justify-content: end;
	align-items: center;
	opacity: 0.77;
	z-index: 7;
}

/* SPLASH SCREEN */

.splash-wrapper {
	z-index: 99;
}

.splash-wrapper [class^='splash-door-'] .splash-door-content {
	/* background-color: #000; */
}

.splash-wrapper .splash-door-home .splash-door-content {
	flex-direction: row-reverse !important;
}

.splash-wrapper .splash-door-away .splash-door-content {
	flex-direction: row !important;
}

.splash-wrapper [class^='splash-door-'] .splash-door-content > div {
	width: 50%;
	padding: 0 calc(1rem * var(--scale));
}

.splash-wrapper [class^='splash-door-'] .splash-door-content .logo-wrapper {
	text-align: center;
}

.splash-wrapper [class^='splash-door-'] .splash-door-content .team-name {
	height: 100%;
	display: flex;
	align-items: center;
}

.splash-wrapper .splash-door-home .splash-door-content .team-name {
	text-align: right;
	justify-content: end !important;
	text-align: right !important;
}

.splash-wrapper [class^='splash-door-'] .splash-door-content .team-name p {
	font-size: var(--fs-body-2);
	text-transform: capitalize;
	line-height: calc(2rem * var(--scale));
}

/* DISCLAIMER */

.disclaimer {
	display: flex;
	z-index: 99;
	text-align: center;
	height: fit-content !important;
}

.disclaimer p {
	align-content: center !important;
}
